function Program.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push constant 129
    pop this 0
    push constant 124
    pop this 1
    push constant 32
    pop this 2
    push this 1
    pop this 3
    push pointer 0
    return
function Program.waitKey 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label Program_0
    push local 1
    push constant 0
    eq
    push local 0
    push constant 0
    eq
    not
    or
    not
    if-goto Program_1
    push constant 25
    call Sys.wait 1
    pop temp 0
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    not
    if-goto Program_3
    push local 0
    pop local 1
    goto Program_2
label Program_3
label Program_2
    goto Program_0
label Program_1
    push local 1
    return
function Program.main 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 1
    push constant 0
    pop local 2
label Program_4
    push constant 1
    neg
    not
    if-goto Program_5
    push pointer 0
    call Program.waitKey 1
    pop local 0
    push local 0
    push this 0
    eq
    not
    if-goto Program_7
    push local 2
    push local 1
    call Output.moveCursor 2
    pop temp 0
    push this 2
    call Output.printChar 1
    pop temp 0
    push local 1
    push constant 1
    sub
    pop local 1
    push local 2
    push local 1
    call Output.moveCursor 2
    pop temp 0
    push this 3
    call Output.printChar 1
    pop temp 0
    goto Program_6
label Program_7
    push local 1
    push constant 1
    add
    pop local 1
    push local 2
    push local 1
    push constant 1
    sub
    call Output.moveCursor 2
    pop temp 0
    push local 0
    call Output.printChar 1
    pop temp 0
    push this 3
    call Output.printChar 1
    pop temp 0
label Program_6
    goto Program_4
label Program_5
    push constant 0
    return